common --repo_env=ASPECT_TOOLS_TELEMETRY=-all
common --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
common --repo_env=BAZEL_NO_APPLE_CPP_TOOLCHAIN=1
common --@llvm//config:experimental_stub_libgcc_s=True
common --linkopt=-no-pie
common --workspace_status_command=./platforms/workspace_status.sh
# build --stamp
build --@rules_rust//rust/toolchain/channel=stable
build --remote_download_outputs=minimal

try-import %workspace%/user.bazelrc

test --test_tag_filters=-requires-docker
test:docker --test_tag_filters=